@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    transition: background 1s ease;
    background-color: #F4F1DE;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #555555;
    text-align: center;
    font-size: 48px;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: bold;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;

}

.logo {
    cursor: pointer;
    margin-right: auto;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #a9a998;
}

nav {
    order: 1;
}

.nav_links {
    list-style: none;

}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li:nth-child(1) {
    padding: 0 20px 0 0;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    color: #555555;
}

.nav_links li a:hover {
    color: #171A21;
}

.cta {
    order: 2;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #555555;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #171A21;
}

main {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
}

.main_home {
    margin-right: 240px;
    margin-top: 130px;
}

main h1 {
    font-family: 'Montserrat', sans-serif;
    padding-top: 80px;
    padding-left: 100px;
    font-weight: 600;
    font-style: bold;
    font-size: 65px;
    color: #373737;
}


main figure {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 200px;
    margin-right: -20px;
}
.pic1 {
    box-shadow: 10px 10px 20px;
    margin-right: 300px;
    position: relative;
    right: 120px;
}

.pic2 {
    box-shadow: 10px 10px 20px;
    margin-right: 100px;
    position: relative;
    top: -122px;
    left: 140px;
    z-index: 1;
}

section button {
    position: relative;
    left: 75px;
    font-size: 24px;
    padding: 15px 32px;
    cursor: pointer;
}

span {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #555555;
    display: grid;
    line-height: 1.8;
}

.content {
    font-family: 'Montserrat', sans-serif;
    background-color: #a9a998;
    color: #555555;
    text-align: center;
    font-size: 24px;
    padding: 100px;
}

.content h2 {
    color: #F4F1DE;
}

.content span {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.show2 {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}


.content figure img {
    border-radius: 25%;

}

.content figure {
    margin: 30px;
}

.collapsible {
    position: relative;
    font-weight: 600;
    background: #F4F1DE;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
    color: #555555;
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    z-index: 1;
    max-width: 800px;
    margin: 0 auto;
}

.collapsible1 {
    position: relative;
    font-weight: 600;
    background: #F4F1DE;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
    color: #555555;
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    max-width: 800px;
    margin: 0 auto;
}


.about {
    font-family: 'Montserrat', sans-serif;
    color: #555555;
    font-size: 28px;
    padding: 100px;
    display: flex;
    flex-direction: start;
}

.about img {
    border-radius: 10%;
    margin-right: 40px;
}

.about p {
    margin-top: 40px;
}

.aboutp {
    padding: 20px;
}

.about h3 {
    margin-top: 50px;
}

.img_gallery {
    background-color: #a9a998;
}

.img_gallery .img {
    display: flex;
    justify-content: center;
}

.img_gallery h2 {
    color: #F4F1DE;
}

.review_heading {
    margin: 100px;
}

.review {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.review img {
    margin: 38px;
}

.map {
    object-fit: contain;
}

.final {
    max-width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

.main_text_and_img {
    display: flex;
    flex-direction: row;
}

.location {
    margin-right: 40px;
}

.Office-Hours {
    font-family: 'Montserrat', sans-serif;
    color: #555555;
    text-align: center;
    font-size: 24px;
}

.Office-Hours p {
    line-height: 1.8;
}

hr {
    display: block;
    width: 86%;
    border: 1px solid #555555;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
  }

footer {
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #555555;
}

@media screen and (max-width: 900px) {
    h2 {
        font-family: 'Montserrat', sans-serif;
        color: #555555;
        text-align: center;
        font-size: 44px;
    }

    li, a, button {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-style: bold;
        font-size: 14px;
        color: #edf0f1;
        text-decoration: none;
    
    }

    header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 30px 2%;
        background-color: #a9a998;
    }

    .nav_links li {
        display: inline-block;
        padding: 0px 20px;
    }
    
    .nav_links li:nth-child(1) {
        padding: 10px 10px 10px 20px;
    }
    
    .nav_links li a {
        transition: all 0.3s ease 0s;
        color: #555555;
    }
    
    .nav_links li a:hover {
        color: #171A21;
    }
    
    .cta {
        order: 2;
    }
    
    .logo {
        cursor: pointer;
        margin-right: auto;
        height: 60px;
        width: 60px;
    }

    button {
        margin-left: 10px;
        padding: 9px 20px;
        background-color: #555555;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }

    main {
        display: flex;
        justify-content: space-between;
        margin-left: 20px;
    }
    
    .main_home {
        margin-right: 240px;
        margin-top: 130px;
    }
    
    main h1 {
        font-family: 'Montserrat', sans-serif;
        padding-top: 60px;
        padding-left: 10px;
        font-weight: 600;
        font-style: bold;
        font-size: 40px;
        color: #373737;
    }
    
    main button {
        margin-left: -30px;
    }
    
    main figure {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 180px;
        margin-right: -20px;
    }
    .pic1 {
        box-shadow: 10px 10px 20px;
        margin-right: 300px;
        position: relative;
        right: 120px;
        height: 150px;
        width: 150px;
    }
    
    .pic2 {
        box-shadow: 10px 10px 20px;
        margin-right: 200px;
        position: relative;
        height: 150px;
        width: 150px;
        top: -80px;
        left: 0px;
        z-index: 1;
    }
    
    section button {
        position: relative;
        left: 40px;
        font-size: 15px;
        padding: 15px 25px;
        cursor: pointer;
    }
    
    .Welcome  {
        font-size: 30px;
    }

    .para {
        font-size: 15px;
    }

    .content h2 {
        font-size: 44px;
    }
    
    .content .collapsible {
        font-size: 18px;
    }

    .content .collapsible1 {
        font-size: 18px;
    }

    .content {
        padding: -100px;
    }

    .about {
        font-family: 'Montserrat', sans-serif;
        color: #555555;
        font-size: 14px;
        padding: 40px;
        margin-top: 30px;
        display: flex;
        flex-direction: start;
    }

    .docpic {
        height: 250px;
        width: 450px;
    }

    .about img {
        border-radius: 10%;
        margin-right: 40px;
        margin-top: 20px;
    }
    
    .about p {
        margin-top: 10px;
    }
    
    .aboutp {
        padding: 10px;
    }
    
    .about h3 {
        margin-top: 15px;
    }

    .img_gallery img {
        height: 550px;
        width: 450px;
    }


    .img_gallery h2 {
        margin-top: -70px;
    }

    .review_heading {
        margin: 80px 70px 50px 70px;
        font-size: 33px;
    }
    
    .review {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .review img {
        margin: 38px;
        height: 350px;
        width: 350px;
    }

    .final {
        max-width: 100%;
        margin-top: 100px;
        margin-bottom: 100px;
        margin-left: 70px;
        margin-right: 70px;
    }
    
    .main_text_and_img {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    iframe {
        width: 400px;
        height: 300px;
    }

    .location {
        margin-right: -10px;
        margin-bottom: 100px;
    }
    
    .Office-Hours {
        font-family: 'Montserrat', sans-serif;
        color: #555555;
        text-align: center;
        font-size: 24px;
    }
    
    .Office-Hours p {
        line-height: 1.8;
    }
    
    footer {
        margin: 20px;
        font-family: 'Montserrat', sans-serif;
        color: #555555;
    }
}

@media screen and (max-width: 400px) {
    h2 {
        font-family: 'Montserrat', sans-serif;
        color: #555555;
        text-align: center;
        font-size: 38px;
    }

    li, a, button {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-style: bold;
        font-size: 12px;
        color: #edf0f1;
        text-decoration: none;
    
    }

    header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 30px 2%;
        background-color: #a9a998;
    }

    .nav_links li {
        display: inline-block;
        padding: 0px 10px;
        font-size: 2px;
    }
    
    .nav_links li:nth-child(1) {
        padding: 10px 10px 10px 10px;
    }
    
    .nav_links li a {
        transition: all 0.3s ease 0s;
        color: #555555;
    }
    
    .nav_links li a:hover {
        color: #171A21;
    }
    
    .cta {
        order: 2;
    }
    
    .logo {
        cursor: pointer;
        margin-right: auto;
        height: 60px;
        width: 60px;
    }

    button {
        margin-left: 10px;
        padding: 9px 20px;
        background-color: #555555;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }

    main {
        display: flex;
        justify-content: space-between;
        margin-left: 20px;
    }
    
    .main_home {
        margin-right: 240px;
        margin-top: 130px;
    }
    
    main h1 {
        font-family: 'Montserrat', sans-serif;
        padding-top: 60px;
        padding-left: 10px;
        font-weight: 600;
        font-style: bold;
        font-size: 40px;
        color: #373737;
    }
    
    main button {
        margin-left: -30px;
    }
    
    main figure {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 180px;
        margin-right: -20px;
    }
    .pic1 {
        box-shadow: 10px 10px 20px;
        margin-right: 300px;
        position: relative;
        right: 120px;
        height: 150px;
        width: 150px;
    }
    
    .pic2 {
        box-shadow: 10px 10px 20px;
        margin-right: 200px;
        position: relative;
        height: 150px;
        width: 150px;
        top: -80px;
        left: 0px;
        z-index: 1;
    }
    
    section button {
        position: relative;
        left: 40px;
        font-size: 15px;
        padding: 15px 25px;
        cursor: pointer;
    }
    
    .Welcome  {
        font-size: 30px;
    }

    .para {
        font-size: 15px;
    }

    .content h2 {
        font-size: 44px;
    }
    
    .content .collapsible {
        font-size: 18px;
    }

    .content .collapsible1 {
        font-size: 18px;
    }

    .content {
        padding: -100px;
    }

    .about {
        font-family: 'Montserrat', sans-serif;
        color: #555555;
        font-size: 14px;
        padding: 40px;
        margin-top: 30px;
        display: flex;
        flex-direction: start;
    }

    .docpic {
        height: 250px;
        width: 450px;
    }

    .about img {
        border-radius: 10%;
        margin-right: 40px;
        margin-top: 20px;
    }
    
    .about p {
        margin-top: 10px;
    }
    
    .aboutp {
        padding: 10px;
    }
    
    .about h3 {
        margin-top: 15px;
    }

    .img_gallery img {
        height: 550px;
        width: 450px;
    }


    .img_gallery h2 {
        margin-top: -70px;
    }

    .review_heading {
        margin: 80px 70px 50px 70px;
        font-size: 33px;
    }
    
    .review {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .review img {
        margin: 38px;
        height: 350px;
        width: 350px;
    }

    .final {
        max-width: 100%;
        margin-top: 100px;
        margin-bottom: 100px;
        margin-left: 70px;
        margin-right: 70px;
    }
    
    .main_text_and_img {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    iframe {
        width: 400px;
        height: 300px;
    }

    .location {
        margin-right: -10px;
        margin-bottom: 100px;
    }
    
    .Office-Hours {
        font-family: 'Montserrat', sans-serif;
        color: #555555;
        text-align: center;
        font-size: 24px;
    }
    
    .Office-Hours p {
        line-height: 1.8;
    }
    
    footer {
        margin: 20px;
        font-family: 'Montserrat', sans-serif;
        color: #555555;
    }
}